<div class="bl_horizTable">
    <table>
      <tbody>
        <tr>
          <th>名前</th>
          <td>半田 惇志</td>
        </tr>
        <tr>
          <th>所属</th>
          <td>株式会社24-7／株式会社パンセ</td>
        </tr>
        <tr>
          <th>職種</th>
          <td>テクニカルディレクター／シニアエンジニア</td>
        </tr>
        <tr>
          <th>得意分野</th>
          <td>CSS設計、HubSpot CMS</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.bl_horizTable -->